#container{
   
    height: 1000px; 
    width: 100%; 
   border: 1px solid;
   
   background: url('barbell-1839087_1920.jpg')
   

}




#navbar {
   display: flex;
   color: white;
   /* background-color: black; */
}
#navbar a {
   color: white;
   text-decoration: none;
}

li {
   display: flex;
   list-style: none;
   float: left;
   padding: 10px;
   padding-top: 60px;
   align-items: flex-end;

}

ul {
   display: flex;
   text-align: left;
   width: 70%;
   margin-left: -300px;
}

span {
   display: flex;
   font-weight: bolder;
}

#navbar>div:nth-child(3) {
   padding: 10px 10px 10px;
   padding-top: 60px;
   font-size: large;

}

#navbar>div:nth-child(4) {
   width: 50%;
   display: flex;
   width: 10%;
   padding-top: 40px;
   margin-left: 20px;
}

#search {
   display: flex;
   margin-left: -40px;
   padding-left: 50px;
   /* background-color: rgb(169, 150, 150); */
}

#search>img:nth-child(1) {
   margin-top: -10px;
   padding-right: 10px;
    filter: invert(100%); 
   cursor: pointer;
}
#search>img:nth-child(2){
    filter: invert(100%); 
   cursor: pointer;
}

 #mid {
   
    height: 400px;
    width: 100%;
     border: 1px solid green; 
    margin: auto;
    justify-content: space-between;
    color: white;
} 

.para{
    display: flex;
    height: 100px;
    width: 100%;
    border: 1px solid red;
    color: white;
    justify-content: space-evenly;
    align-items: center;
   font-size: larger;
   
}
.para p{
    background-color: black;
    padding: 5px 8px;
}

#mid2 {
    height: auto;
    width: 100%;
     border: 1px solid; 
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #b5bcdc;
}
#mid2>div{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
}
#mid2>div>div{
    border: 1px solid;
}


#mid3 ,#mid5 ,#mid7{
    height: auto;
    width: 100%;
     border: 1px solid; 
    margin: auto;
    
    background-color: #e1e4f0;
}

#mid3>div,#mid5>div,#mid7>div{
    display: flex;
    height: 200px;
    width: 100%;
    border: 1px solid;
}
#mid3>div>div:nth-child(1),#mid5>div>div:nth-child(1),#mid7>div>div:nth-child(1){
    width: 30%;
    border: 1px solid;
    }
#mid3>div>div:nth-child(2),#mid5>div>div:nth-child(2),#mid7>div>div:nth-child(2){
width: 70%;
border: 1px solid;
}

#mid4, #mid6,#mid8 {
    height: auto;
    width: 100%;
     border: 1px solid; 
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #b1b2b6;
}
#mid4>div ,#mid6>div,#mid8>div{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
}
#mid4>div>div, #mid6>div>div,#mid8>div>div{
    border: 1px solid;
}

